  @import url('https://fonts.googleapis.com/css2?family=Cardo&family=Lora&display=swap');

/*
font-family: 'Cardo', serif;
font-family: 'Lora', serif; 
*/

/* Logo and Navigation Bar */
#mainlogo {
    font-family: 'Lora', serif;
    font-size: 300%;
    float:left;
    margin: 0;
    color: #4a4453
}

#current {
    font-weight: 600;
}

#navbar {
    font-family: 'Lora', serif;
    font-size: 125%;
    margin-top: 0.1rem;
    color: #4a4453;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-end;
}

.navitems {
    padding:15px;
    list-style-type: none;
    
}

li a {
    text-decoration: none;
    color:#4a4453
}

.navitems a:hover {
    font-weight: 800;
}

/* Headings and Paragraps */
h2, h3 {
    font-family: 'Lora', serif;
    color:#4a4453
}

p {
    font-family: 'Cardo', serif;
    color:#000000
}

#hero {
    width:100%;
    position: relative;
}

.text-center {
    text-align: center;
}