 /* @import url('https://fonts.googleapis.com/css2?family=Cardo&family=Lora&display=swap'); */

  @import url('https://fonts.googleapis.com/css2?family=Jost&family=Noto+Sans+JP:wght@500&display=swap');

/*
font-family: 'Cardo', serif;
font-family: 'Lora', serif; 
*/

/*
font-family: 'Jost', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
*/

/* Logo and Navigation Bar */
#mainlogo {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 300%;
    float:left;
    margin: 0;
    color: #4a4453
}

#current {
    font-weight: 600;
}

#navbar {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 125%;
    margin-top: 20px;
    color: #4a4453;
    letter-spacing: 1px;
    display: flex;
    justify-content: flex-end;
}

.navitems {
    padding:15px;
    list-style-type: none;
    
}

li a {
    text-decoration: none;
    color:#4a4453
}

.navitems a:hover {
    font-weight: 800;
}

/* Headings and Paragraph Styling Rules */

.text-center {
    text-align: center;
    padding-bottom:15px;
    padding-top: 15px;
}

h2, h3, h4 {
    font-family: 'Noto Sans JP', sans-serif;
}

p {
    font-family: 'Jost', sans-serif;
}

/* Hero Image */

#hero-container {
    height: 475px;
    width:100%;
    position:relative;
}


#hero {
    background-image: url(../images/hero-image3.jpg);
    width:100%;
    height:475px;
    background-size: cover;
    position: relative;
}

#hero-text {
    text-align: center;
    padding: 10px 10px 30px 10px;
    color:#FFFADE;
    background-color: rgba( 0, 0, 0, 0.85);
    width: 300px;
    position: absolute;
    bottom:30px;
    left: 30px;
    border-radius: 10px;
}

button {
    font-family: 'Jost', sans-serif;
    font-size: 112.5%;
    color: #000000;
}

button a {
    text-decoration: none;
    color:#000000;
}

button:hover {
    border: solid #A07EE6 2px;
    border-radius: 2px;
}

/* Why Meditate? section of Home Page */

.flex {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
    align-content:space-around;
    gap: 1em;
    padding-top: 1%;
}

.flexitem {
    width:25%;
    text-align: center;
    border:#000000 solid 1px;
    border-radius: 10px;
    border-spacing: 2px;
    padding: 10px 10px 10px 10px;
    min-height: 125px;
}

#color1 {
    background-color: #2B1B53;
    color: #FFFADE;
}

#color2 {
    background-color: #503D79;
    color: #FFFADE;
}

#color3 {
    background-color: #4a4453;
    color: #FFFADE;
}

#color1 h3, #color2 h3, #color3 h3 {
    letter-spacing: 1px;
}

/* Session Timings Section of Home Page */

#background {
    background-image: url(../images/background-3.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.sessions {
    width:200px;
    height:200px;
    border-radius: 50%;
    margin: 0 auto;
    color: #fffce1;
    text-align: center;
    padding: 10px 10px;
    border: #4a4453 solid 1px;
    background-color: rgba( 0, 0, 0, 0.85);
}

/* Footer */

footer {
    width:100%;
    height:50px;
    text-align: center;
}

footer a {
    font-size:500%;
}

/* Retreats Page */

#gallery {
    column-count: 4;
    column-gap: 0px;
    line-height: 0;
}

#gallery > img {
    width:98%;
    border-radius: 10px;
    margin: 2px 2px 2px 2px;
}

#retreats-container {
    column-count: 2;
}

.retreats-main > img {
    width:100%;
    border-radius: 10px;
}

.retreats-text {
    text-align: center;
    padding: 30px 30px 30px 30px;
    min-height: 100px;
    min-width: 100px;
    border-radius: 10px;
}

/* Join Us Page */

#backgroundimage {
    background-image: url(../images/background-5.jpg);
    background-size:cover;
}

#form-container {
    text-align:center;
    font-size: larger;
    letter-spacing: 0.5px;
    background-color: rgba( 0, 0, 0, 0.5);
    padding: 25% 25% 25% 25%;
    color: #FFFADE;
}

/* Thank You Page */

#thankyouimage {
    background-image: url(../images/background-4.jpg);
    background-size: cover;
    background-position: center;
    width:100%;
    height: 100%;
    border-radius: 10px;
}

#thankyou-text {
    text-align: center;
    padding: 10px 10px 30px 10px;
    color:#FFFADE;
    background-color: rgba( 0, 0, 0, 0.75);
    border-radius: 10px;
}


/* 
Responsiveness Styles to focus on -


Navigation under Logo - Centralised

#retreats-container - 1 column - Centralised

#gallery down to 2 columns  

#webp image compression

*/